@use '../abstract/vars' as *;
@use '../abstract/mixins' as *;



.menu {
  // .menu__list
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  // .menu__item
  &__item {
    position: relative;
    display: inline-block;

    &.active {
      .menu__submenu {
        display: block;
      }
    }

    &:hover {
      .menu__submenu {
        display: block;
        transform: translateY(0);
        background-color: red;
      }
    }

    &--has-submenu {
      .menu__link {
        cursor: pointer;
      }
    }
  }

  // .menu__link
  &__link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  // .menu__item--has-submenu
  &__item--has-submenu {
  }

  // .menu__submenu
  &__submenu {
    
    display: none;
    position: absolute;
    top: 100%;
    padding: 0;
    margin: 0;
   width: 100vw;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeInSubMenu 0.3s ease forwards;
    z-index: 10;

    &.right-aligned {
      left: auto;
      right: 100%;
    }
}

  // .menu__submenu-item
  &__submenu-item {
    position: relative;
    display: block;
    width: 100%;
    &.active {
      .menu__subsubmenu {
        display: block;
      }
    }

    &:hover {
      .menu__subsubmenu {
        display: block;
      }
    }

    &--has-submenu {
      .menu__submenu-link {
        cursor: pointer;
      }
    }
  }

  // .menu__submenu-link
  &__submenu-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  // .menu__submenu-item--has-submenu
  &__submenu-item--has-submenu {
  }

  // .menu__subsubmenu
  &__subsubmenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeInSubMenu 0.3s ease forwards;

    &.right-aligned {
      left: auto;
      right: 100%;
    }
  }

  // .menu__subsubmenu-item
  &__subsubmenu-item {
    position: relative;
    display: block;
  }

  // .menu__subsubmenu-link
  &__subsubmenu-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
