<section class="page__furniture furniture">
    <div class="furniture__wrapper">
        <div class="furniture__label">Share your setup with</div>
        <h2 class="furniture__title section-title">#FuniroFurniture</h2>
        <div class="furniture__body" data-speed="0.01" data-gallery>
            <div class="furniture__items"  >
                <div class="furniture__column" >
                    <div class="furniture__row row-furniture row-furniture__left-top">
                        <a href="@img/furniture/09.jpg" class="row-furniture__item"><img src="@img/furniture/09.jpg"
                                alt="img"></a>
                        <a href="@img/furniture/01.jpg" class="row-furniture__item"><img src="@img/furniture/01.jpg"
                                alt="img"></a>
                        <a href="@img/furniture/02.jpg" class="row-furniture__item"><img src="@img/furniture/02.jpg"
                                alt="img"></a>
                    </div>
                    <div class="furniture__row row-furniture row-furniture__left-bottom">
                        <a href="@img/furniture/04.jpg" class="row-furniture__item"><img src="@img/furniture/04.jpg"
                                alt="img"></a>
                        <a href="@img/furniture/06.jpg" class="row-furniture__item"><img src="@img/furniture/06.jpg"
                                alt="img"></a>
                        <a href="@img/furniture/07.jpg" class="row-furniture__item"><img src="@img/furniture/07.jpg"
                                alt="img"></a>
                    </div>
                </div>
                <div class="furniture__column">
                    <div class="furniture__row row-furniture row-furniture__center">
                        <a href="@img/furniture/03.jpg" class="row-furniture__item"><img src="@img/furniture/03.jpg"
                                alt="img"></a>
                    </div>
                </div>
                <div class="furniture__column">
                    <div class="furniture__row row-furniture row-furniture__right-top">
                        <a href="@img/furniture/04.jpg" class="row-furniture__item"><img src="@img/furniture/04.jpg"
                                alt="img"></a>
                        <a href="@img/furniture/05.jpg" class="row-furniture__item"><img src="@img/furniture/05.jpg"
                                alt="img"></a>
                        <a href="@img/furniture/01.jpg" class="row-furniture__item"><img src="@img/furniture/01.jpg"
                                alt="img"></a>
                    </div>
                    <div class="furniture__row row-furniture row-furniture__right-bottom">
                        <a href="@img/furniture/08.jpg" class="row-furniture__item"><img src="@img/furniture/08.jpg"
                                alt="img"></a>
                        <a href="@img/furniture/09.jpg" class="row-furniture__item"><img src="@img/furniture/09.jpg"
                                alt="img"></a>
                        <a href="@img/furniture/06.jpg" class="row-furniture__item"><img src="@img/furniture/06.jpg"
                                alt="img"></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>