<section class="page__insparations insparations">
    <div class="insparations__container">
        <div class="insparations__body">
            <h2 class="insparations__title section-title">50+ Beautiful rooms
                inspiration</h2>
            <div class="insparations__text">Our designer already made a lot of beautiful prototipe of rooms that inspire
                you</div>
            <a href="#" class="insparations__btn btn">Explore More</a>
        </div>
        <div class="insparations__slider slider-insparations swiper">
            <div class="slider-insparations__arrows slider-arrows">
                <button type="button"
                    class="slider-arrow slider-arrow--white slider-arrow__prev _icon-arrow-down"></button>
                <button type="button"
                    class="slider-arrow slider-arrow--white slider-arrow__next  _icon-arrow-down"></button>
            </div>
            <div class="slider-insparations__dots"></div>
            <div class="slider-insparations__wrapper swiper-wrapper">
                <div class="slider-insparations__slide  swiper-slide">
                    <div class="slider-insparations__image slider-insparations__image--ibg">
                        <img src="@img/insparations/01.jpg" alt="img">
                    </div>
                    <a href="#" class="slider-insparations__content _icon-arrow-right ">
                        <div class="slider-insparations__label label-slider">
                            <div class="label-slider-number">01</div>
                            <div class="label-slider-line"></div>
                            <div class="label-slider-text">Bed Room</div>
                        </div>
                        <div class="slider-insparations__title">Inner Peace</div>
                    </a>
                </div>
                <div class="slider-insparations__slide  swiper-slide">
                    <div class="slider-insparations__image slider-insparations__image--ibg">
                        <img src="@img/insparations/01.jpg" alt="img">
                    </div>
                    <a href="#" class="slider-insparations__content _icon-arrow-right ">
                        <div class="slider-insparations__label label-slider">
                            <div class="label-slider-number">02</div>
                            <div class="label-slider-line"></div>
                            <div class="label-slider-text">Bed Room</div>
                        </div>
                        <div class="slider-insparations__title">Inner Peace</div>
                    </a>
                </div>
                <div class="slider-insparations__slide  swiper-slide">
                    <div class="slider-insparations__image slider-insparations__image--ibg">
                        <img src="@img/insparations/01.jpg" alt="img">
                    </div>
                    <a href="#" class="slider-insparations__content _icon-arrow-right ">
                        <div class="slider-insparations__label label-slider">
                            <div class="label-slider-number">03</div>
                            <div class="label-slider-line"></div>
                            <div class="label-slider-text">Bed Room</div>
                        </div>
                        <div class="slider-insparations__title">Inner Peace</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>