<section class="page__tips tips">
    <div class="tips__container">
        <div class="tips__text">
            <h2 class="tips__title section-title">Tips & Tricks</h2>
        </div>
        <div class="tips__slider slider-tips">
            <div class="slider-tips__wrapper">
                <a href="#" class="slider-tips__slide">
                    <div class="slider-tips__img slider-tips__img--ibg">
                        <img src="@img/tips/01.jpg" alt="img">
                    </div>
                    <div class="slider-tips__body">
                        <h4 class="slider-tips__title">How to create a living room to love</h4>
                        <div class="slider-tips__date">20 jan 2020</div>
                    </div>
                </a>
                <a href="#" class="slider-tips__slide">
                    <div class="slider-tips__img slider-tips__img--ibg">
                        <img src="@img/tips/02.jpg" alt="img">
                    </div>
                    <div class="slider-tips__body">
                        <h4 class="slider-tips__title">Solution for clean look working space</h4>
                        <div class="slider-tips__date">10 jan 2020</div>
                    </div>
                </a>
                <a href="#" class="slider-tips__slide">
                    <div class="slider-tips__img slider-tips__img--ibg">
                        <img src="@img/tips/03.jpg" alt="img">
                    </div>
                    <div class="slider-tips__body">
                        <h4 class="slider-tips__title">Make your cooking activity more fun with good setup</h4>
                        <div class="slider-tips__date">20 jan 2020</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>