@use '../abstract/vars' as *;
@use '../abstract/mixins' as *;

.insparations {
  background: #fcf8f3;
  // .insparations__container
  &__container {
    @media (min-width: $breakpoint992) {
      display: flex;
    }
  }

  // .insparations__body

  &__body {
    flex: 0 0 calc(465 / 1240 * 100%);
    position: relative;
    z-index: 5;
    align-self: center;

    @media (min-width: $breakpoint992) {
      @include adaptiveValue("padding-right", 80, 30);
    }

    @media (max-width: $breakpoint992){
        margin-bottom: rem(30);
    }


  }

  // .insparations__title
  &__title {
    text-align: left;
    line-height: 120%;

    &:not(:last-child) {
      margin-bottom: calc(8 / 40 * 1em);
    }


  }

  // .insparations__text
  &__text {
    font-weight: var(--fw-medium);
    line-height: 150%;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  // .insparations__btn
  &__btn {
    min-width: rem(180);
    background-color: var(--orange-co);
    color: white;
    font-weight: var(--fw-semi-bold);
    line-height: 150%;

    @media (any-hover: hover) {
      &:hover {
        background-color: darken($color: #e89f71, $amount: 7);
      }
    }


  }

  // .insparations__slider
  &__slider {
    flex: 1 1 auto;
    min-width: 0;
    align-self: flex-start;

    @media (max-width: $breakpoint480){
        margin: 0 rem(-15)
    }
  }
}

.slider-insparations {
  overflow: visible;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background: #fcf8f3;
    z-index: 2;
    transform: translateX(-100%);
  }
  // .slider-insparations__arrows
  &__arrows {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    width: calc(100% - rem(50));
    left: rem(24);
    z-index: 5;
    justify-content: space-between;

    @media (min-width: $breakpointContainer){
        width: calc(100% + rem(50));
        left: rem(-24);
    }

  }

  // .slider-insparations__dots
  &__dots {

    @media (min-width: $breakpoint768){
        &.swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal {
          position: absolute;
          bottom: rem(30);
          width: 100%;
          left: calc(rem(372) + rem(24));
          z-index: 5;
        }
    }

    @media (max-width: $breakpoint768){
        justify-content: center;
        padding-top: rem(30);
    }

  }

  // .slider-insparations__wrapper
  &__wrapper {
  }

  // .slider-insparations__slide
  &__slide {
    width: rem(372);
    position: relative;
    overflow: hidden;
    @include adaptiveValue("min-height", 585, 400);
    &.swiper-slide-active {
      .slider-insparations__content {
        pointer-events: auto;

      }
      .slider-insparations__image {
        img {
          height: 100%;
        }
      }
    }

    @media (max-width: $breakpoint480){
        width: 100%;
    }
  }

  // .slider-insparations__image
  &__image {
    transition: height 0.8s ease;
    position: static;
    height: 100%;
    @media (min-width: $breakpoint768) {
      img {
        transition: height 0.8s ease;

        height: 83%;
      }
    }
  }

  // .slider-insparations__image--ibg
  &__image--ibg {
  }

  // .slider-insparations__content
  &__content {
    pointer-events: none;
    position: absolute;
    @include adaptiveValue("bottom", 24, 15);
    @include adaptiveValue("left", 24, 15);

    max-width: rem(250);
    padding: rem(32);
    background-color: hsla(0, 0%, 100%, 0.72);

    &::before {
      background-color: #e89f71;
      position: absolute;
      right: rem(-48);
      bottom: 0;
      width: rem(48);
      height: rem(48);
      color: white;
      font-size: rem(15);

      @include flex-center();
    }
  }

  // .slider-insparations__label
  &__label {
    font-weight: normal;
    line-height: 150%;
    color: hsla(0, 0%, 38%, 1);
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  // .slider-insparations__title
  &__title {
    font-weight: var(--fw-semi-bold);
    line-height: 120%;
    color: var(--body-co);
    @include adaptiveValue("font-size", 25, 24);
  }
}

.label-slider {
  display: flex;
  align-items: center;
  gap: rem(8);
}
.label-slider-number {
}
.label-slider-line {
  width: rem(27);
  height: 1px;
  background-color: hsla(0, 0%, 38%, 1);
}
.label-slider-text {
}
