@use '../abstract/vars' as *;
@use '../abstract/mixins' as *;

/*
  ==== Utilities ====
*/

// Container
[class*="__container"] {
  max-width: $containerWidth + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;
}



.footer-title {
  color: var(--black-co);
  @include adaptiveValue("font-size", 24, 20);
  line-height: calc(29 / 24 * 100%);
  font-weight: var(--fw-bold);
}


[class*="-ibg"] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}